.row-container {
  padding-left: 15px;
  margin-bottom: 15px;
}
.row-container h2 {
  color: whitesmoke;
}
.trending-poster img {
  margin-left: 20px;
  transition: all .2s ease;
  cursor: pointer;
}
.trending-poster img:hover {
  transform: scale(1.1);
}
.trending-poster {
  display: flex;
  overflow: scroll;
  padding: 23px 0;
}
.trending-poster::-webkit-scrollbar {
  width: 0;
  height: 5px;
}
.trending-poster::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
}
.trending-poster:hover::-webkit-scrollbar-thumb {
  background-color: rgb(167, 15, 15);
}